{% include 'recipes/patials/head.html' %} <!-- executando um comando no Django html -->

<body>
{% include 'recipes/patials/header.html' %}

<div class="search-container">
    <div class="container">
        <form action="" class="search-form">
            <input type="text" name="q" class="search-input" autocomplete="off">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>
</body>
</html>